{% extends 'base.html.twig' %}

{% block title %}Sushi Garden - Accueil
{% endblock %}

{% block body %}


	<div id="carouselExample" class="carousel slide w-100">
	
		<div class="carousel-inner position-relative">
		<h1 class="titre-accueil z-2 position-absolute mt-2">Restaurant à Lyon</h1>
			<div class="carousel-item active">
				<img src="{{ asset('build/images/carousel1.jpg') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/carousel2.jpg') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/carousel3.jpg') }}" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précedent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
{% endblock %}
