{% extends 'base.html.twig' %}

{% block title %}Sushi Garden - Accueil
{% endblock %}

{% block body %}

<div class="home-carousel w-100">
	<div id="carouselExample" class="carousel slide w-100">
	
		<div class="carousel-inner home-carousel position-relative">
		<h1 class="titre-accueil z-2 position-absolute mt-2 w-100 text-center">Restaurant à Lyon</h1>
			<div class="carousel-item active">
				<img src="{{ asset('build/images/home-carousel1.jpg') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/home-carousel2.jpg') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/home-carousel3.jpg') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/home-carousel4.jpg') }}" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précedent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div></div>
{% endblock %}
