<footer class="p-3 bg-primary">
	<div class="d-flex justify-content-between">
		<div class="ms-2 ms-md-4">
			<a href="#" class="text-decoration-none text-light">Mentions légales</a>
		</div>
		<div class="me-2 me-md-5">
			<li class="list-unstyled">
				<a href="#" class="me-2 me-md-4 text-decoration-none">
					<i class="fa-brands fa-facebook fa-2x text-info"></i>
				</a>
				<a href="#" class="text-decoration-none">
					<i class="fa-brands fa-twitter fa-2x text-info"></i>
				</a>
			</li>
		</div>
	</div>
</footer>
