<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="#">Sushi Garden</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex flex-row m-auto">
        <li class="nav-item">
          <a class="nav-link active text-light me-5" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light ms-5 me-5" aria-current="page" href="{{ path('category_index') }}">Notre carte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light ms-5" aria-current="page" href="#">Nous contacter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>