{% extends 'base.html.twig' %}

{% block title %}Sushi Garden - Catégories{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 text-center">Nos catégories de produits</h1>
        <div class="row g-5 mb-3 mt-2">
            {% for category in categories %}
                <div class="col-lg-3 col-6">
                    <div class="card h-100">
                        <img src="uploads/categories/{{ (category.picture) }}" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <p class="card-title text-uppercase fw-bold text-center">{{ category.name }}</p>
                            <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary">Voir les produits</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
