.form {
	padding: 1.25rem;
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
}

.form-image {
    max-width: 30rem;
    border-radius: 8px;
}

textarea {
    resize:none;
}

@media only screen and (max-width: 992px) {
    .form-grid {
        display: block;
    }
    .form-image {
        display: none;
    }
}