{% extends 'base.html.twig' %}

{% block title %}Sushi Garden - Nous contacter
{% endblock %}

{% block body %}
	<div class="container form">
		<div class="form-grid">
			<div class="questions-grid p-2">
				<h1 class="mt-5 mb-3 mb-lg-5 text-center">Nous contacter</h1>
				<p class="mt-5 mb-5 mb-lg-5 text-center">Veuillez remplir ce formulaire pour toute demande d'informations, nous vous recontacterons par email.</p>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-primary border-3">Envoyer</button>
				{{ form_end(form) }}
			</div>
            <div class="p-2">
				<img src="{{ asset('build/images/formulaire-image.jpg') }}" class="form-image" alt="">
			</div>
		</div>
	</div>
{% endblock %}
